<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Northwind, Inc</a>
        <ul class="nav">
            <li><a href="/#/employees">Employees</a></li>
            <li><a href="/#/customers">Customers</a></li>
        </ul>
    </div>
</div>
<ng-view></ng-view>
